html
	head
		title Pacemaker Backend | L4-2
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css')
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
	body.bg-light.p-4
		div.markdown-body.container.bg-white.shadow-sm.p-4 !{contents}